
<form name="form" action="controllerForm" method="POST">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="email" id="email" placeholder="email">
    <input type="text" name="age" id="age" placeholder="age">
    <input type="submit" value="Add">
</form>