
<form name="form" action="/controllerUpdate" method="POST">
    <input type="text" name="id" id="id" placeholder="id" value="{{id}}" readonly>
    <input type="text" name="name" id="name" placeholder="name"  value="{{name}}">
    <input type="text" name="email" id="email" placeholder="email" value="{{email}}">
    <input type="text" name="age" id="age" placeholder="age" value="{{age}}">
    <input type="submit" value="Update">
</form>